.wrapper {
    --border-radius-input: 92px;
    background-color: var(--colorWhite);
    height: 60px;
    padding: 0 24px 0 16px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    opacity: 0.6;
    padding: 4px 8px;
    font-style: 1.4rem;
}

.actions {
    min-width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.float {
    position: fixed;
    bottom: 10px;
    right: 35px;
}
.dot-vertical {
    width: 23px;
    height: 23px;
    padding: 8px;
}

.laptop-mobile {
    width: 33px;
    height: 33px;
}
