@import 'normalize.css';

:root {
    --colorPink: #fb2855;
    --colorBlue: #2b5db9;
    --colorWhite: #fff;
    --colorBlack: #373b55;
    --colorIpt: rgb(22 24 35 / 6%);
    --colorGray: rgb(126, 126, 126);
    --colorIconGray: rgb(167 167 171);
    --colorContentTippy: rgba(84, 84, 84, 0.92);
}

// Fonts embedded
@font-face {
    font-family: TikTokDisplayFont;
    src: url('../../fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokFontBold;
    src: url('../../fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokFontSemibold;
    src: url('../../fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFontRegular;
    src: url('../../fonts/TikTokFont-Regular.woff2');
    font-weight: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-style: 1.6rem;
    font-family: TikTokDisplayFont, sans-serif;

    // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body .tippy-box {
    background-color: var(--colorContentTippy);
}

body .tippy-content {
    font-size: 1.6rem;
    border-radius: 8px;
    padding: 8px;
    font-weight: 600;
}

body .tippy-arrow {
    color: var(--colorContentTippy);
}

button,
input,
a,
[tabindex] {
    outline: none;
    border: none;
    text-decoration: none;
}
