@import 'normalize.css';

:root {
    --colorPink: #fb2855;
    --colorBlue: #2b5db9;
    --colorWhite: #fff;
    --colorBlack: #161823;
    --colorIpt: rgb(22 24 35 / 6%);
    --colorGray: rgb(126, 126, 126);
    --colorIconGray: rgb(167 167 171);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-style: 1.6rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button,
input,
a,
[tabindex] {
    outline: none;
    border: none;
    text-decoration: none;
}
